$font-family: "Manrope", sans-serif;
$font-size: 14px;
$font-weight: 400;
$text-color: rgba(10, 37, 64, 0.6);

.description-container {
  padding: 0px;
  display: inline-block;
  max-width: 100%;
  max-height: fit-content;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.description-container p {
  display: inline;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $text-color;
}
